/* First Comment */

*{
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.title {
  font-size: 48px;
  text-decoration; underline;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.banner {
  height: 350px;
  background-image: url(images/river_in_the_mountains.jpg);
  background-size: cover;
  background-position: center;
}

body {
  background-color: LightBlue;
  color:red;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 14px;
}

body {
  background-image: url(images/more-leaves-on-green.png);
  background-repeat: repeat;
}

header,
section,
footer {
  padding: 30px;
}

/* Heading styles */

h1 {
  color: blue;
  font-size: 36px;
  text-align: left;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h1, h2, h3 {
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 20px;
}

header {
  background-color: brown:
  color: white;
}

p {
  line-height: 1.5;
  margin: 15px 0;
  /* text-align: justify; */
}

ul, ol {
  margin: 15px 0;
}

header {
  border-bottom: 5px solid grey;
}

img {
  height: 300px;
}

/* a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
} */

a:link,
a:focus,
a:active {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: grey;
}

header h1 {
  text-align: center;
}

footer p {
  font-size: 10px;
  text-align: center;
}

section {
  background-color: purple;
  color: white;
}

footer {
  background-color: black;
  color: white;
}
