body {
  background-color: LightBlue;
  color:red;
  font-family: 'Noto Sans HK', sans-serif;
}

h1 {
  color: blue;
}

header {
  background-color: brown:
  color: white;
}

section {
  background-color: purple;
  color: white;
}

footer {
  background-color: black;
  color: white;
}
